.description {
   margin-left: 10vw;
   margin-right: 10vw;
}

.credits {
  margin-top: 20px;
  margin-left: 2vw;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  overflow-x: hidden;
}

.topSection {
  margin-top: 10vh;
}
